 *
 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Poppins', sans-serif;
color: #373838  ;
 }


 /************* tape ************/

 .tape
 {
     width: 100%;
    padding: 25px 5% ;
    position: relative;
 }


.tape i 
{
     padding: 8px;
     color: #1b1515;
     border: solid 1px #1b1515;
     margin: 5px;
     border-radius: 50%;

}

.tape .fa-gear
{
   position: absolute; 
   right: 5%;
   border: none;
   font-size: 25px;
   color: #629cd3 ;
}

 /************* navbar ************/
 
 #navbar
 {
    padding: 25px 120px;
    background-color: #373838;
  }


#nav-link 
{
    color: #fff;
    padding:  15px;
    font-size: 18px;
margin: 0 4px;
font-weight: 590;
}

 

#nav-link:hover
{
    background-color: #629cd3;
    border-radius: 15px;
}


.navbar-nav 
{
     margin-left: 25%;
}

 .dropdown
 {
    display: none;
 }


 /************** start carousel **************/

 .carousel-item
 {
   padding: 40px;
   background-image: url('../images/background\ 1.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   
 }
 .carousel-item img 
 {
   width: 65%;
 }

 .side-data h1
 {
   margin-top: 40px;
   color: #373838;
   font-size: 45px;
   font-weight: 900;
   font-family: 'Montserrat', sans-serif;
}

   .side-data h2
   {
     color: #629cd3;
     font-size: 40px;
     font-weight: 900;
     font-family: 'Montserrat', sans-serif;
     }

     .side-data p 
     {
      color: #2e3030;
      font-size: 20px;

     }

     .free-consultation 
     {
      margin-top: 70px;
      padding: 10px 29px;
      margin-right: 18px;
      border: none;
      background-color: #629cd3;
      color: #fff;
      font-size: 17px;
      border-radius: 10px;
      font-weight: 550;
     }


     .Complete-Work

     {
      margin-top: 70px;
      padding: 10px 29px;
      margin-right: 18px;
      border: none;
      background-color: #373838;
      color: #fff;
      font-size: 17px;
      border-radius: 10px;
      font-weight: 550;
     }

     #control-carousel
     {
      background-color: #373838;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      margin-left: 12px;

     }

/***************** counter *****************/

.counter 
{
   padding-top: 30px;
background-color: #373838;
color: #fff;
 }

#count1,#count2,#count3
{
   font-weight: 650;
   color: #fff;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;

}
.plus 
{
   color: #fff;
   font-weight: 650;
   padding: 20px 0;
   font-size: 30px;
}

.img-counter 
{
   width: 15%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.under-heading
{
   color: #fff;
   font-weight: 100;
   padding-top: 7px;
}


#togg 
{
   background-color: #629cd3;
   border: none;
 }

/*********** Restaurant Programs ************/

.restaurant-programs
{
   padding-top:50px ;
   background-color: #373838;
   width: 100%;
}
.side-image-photo-restaurant img
{
   width: 100%;
}

.programs-features 
{
   background-color: #fff;
   background-image: url( '../images/background\ 2.png');
   background-size: 100% 100%;
background-repeat: no-repeat;

   width: 100%;
   margin-left: -12px;
   padding: 40px ;
}

.programs-features .service-heading
{
   margin: 20px;
   font-size: 30px;
   font-family: 'Montserrat', sans-serif;

 }

.service-logo
{
   width: 5%;
   margin-left: 50px;
}

.features-item
{
   text-align: center;
    margin:30px 30px 0 30px;   
    box-sizing: border-box;

}

.opreations-programming
{
   
   font-family: 'Montserrat', sans-serif;
   border: 1px solid #373838;
   padding: 20px;
   border-radius: 55px;
 }

.opreations-programming img

{
   width: 20%;
}

.opreations-programming h5 
{
   font-family: 'Montserrat', sans-serif ;
   font-weight: 100;
   margin-top: 9px;
}
.opreations-programming p 
{
   font-size: 20px;
}

.qr-p
{
   font-size: 10px; 
   line-height: 26px;
}

.vip-p 
{
   line-height: 33px;
}




/***************** Boost Your Numbers ************/


.boost
{
   background-color: #373838;
   width: 100%;
   padding: 100px 10px 10px 60px;
}
.boost-icon
{
   width: 9%;

}

.boost-data span
{
   color: #fff;
   font-size: 38px;
   padding: 12px ;
   font-weight: 650;
   font-family: 'Montserrat', sans-serif ;

}

.boost-data p 
{
   margin-top: 34px;
   color: #fff;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 19px;
}
 
#comment {
   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 65% 74%, 50% 100%, 38% 74%, 0% 75%);
   height: 200px;
   width: 400px; 
   background-color: rgb(226, 226, 226);
   border-radius: 30px 30px;
   text-align: center;
   padding: 20px;
   margin-top: 40px;
}
#comment h5
{
   font-family: 'Montserrat', sans-serif ;
 
} 
#comment h6
{
   font-family: 'Montserrat', sans-serif ;
   color: #629cd3;
   border:1px solid #373838;
   margin-top: 18px;
   padding: 8px;
   border-radius: 20px;
}

.qrcode-side
{
   width: 15%; 
   height: 20%;
    margin-left: 40px;
    margin-top: 45px;
}

.img-logo-boost
{
   width: 15%;
   background-color: #fff;
   margin-left: 120px;
}
.rocketPhoto
{
   padding: 90px;
}

.rocketPhoto img
{
   width: 100%;
 }

/*******

media query

********/

/***      1200px------>992px      ***/

@media screen and (max-width:1252px) and (min-width:992px)

{
   
 /************* navbar ************/
 
 #navbar
 {
    padding: 20px 10px;
    
  }


#nav-link 
{
    
    padding:  14px;
    font-size: 17px;
margin: 0 4px;

}

.navbar-nav 
{
     margin-left: 25%;
}


 /************** start carousel **************/
 
 .carousel-item img 
 {
   width: 65%;
 }

 .side-data h1
 {
   margin-top: 40px;
    font-size: 40px;
  }

   .side-data h2
   {
      font-size: 35px;
      }

     .side-data p 
     {
       font-size: 18px;

     }

     .free-consultation 
     {
      margin-top: 20px;
      padding: 8px 20px;
       font-size: 15px;
      
     }


     .Complete-Work

     {
      margin-top: 20px;
      padding: 8px 20px;
       font-size: 15px;
     }

     #control-carousel
     {
       height: 17px;
      width: 17px;
      border-radius: 50%;
      margin-left: 12px;

     }

     
/*********** Restaurant Programs ************/
 
.service-logo
{
   width: 8%;
 }

.opreations-programming img

{
   width: 22%;
}

 
.opreations-programming p 
{
   font-size: 15px;
}

.qr-p
{
   font-size: 16px; 
   line-height: 20px;
}

.vip-p 
{
   line-height: 27px;
}
     
}


/***      992px------>768px      ***/

@media screen and (max-width:992px) and (min-width:768px)

{
   
  /************* navbar ************/
 
  #navbar
  {
     padding: 20px 10px;
      
     
   }
 

#nav-link 
{
    color: #fff;
    padding:  5px;
    font-size: 18px;
margin: 0px 4px;
font-weight: 590;
text-align:center;
}

 

#nav-link:hover
{
    background-color: #629cd3;
    border-radius: 15px;
}


.navbar-nav 
{
     margin-left: 25%;
     margin-top: 15px;
}

.single-option
{
   display: none;
}
#dropdown-menu
{
   background-color: transparent;
    text-align: center;
    border: none;
}

#dropdown-item
{
   color: #fff;
}
 .dropdown
 {
    display:block;
 }

 
 /************** start carousel **************/
 
 
 .side-data h1
 {
   margin-top: 15px;
    font-size: 30px;
  }

   .side-data h2
   {
      font-size: 25px;
      }

     .side-data p 
     {
       font-size: 14px;

     }

     .free-consultation 
     {
      margin-top: 15px;
      padding: 6px 16px;
       font-size: 13px;
      
     }


     .Complete-Work

     {
      margin-top: 15px;
      padding: 6px 16px;
       font-size: 13px;
     }

     #control-carousel
     {
       height: 15px;
      width: 15px;
       margin-left: 11px;

     }

     /*********** Restaurant Programs ************/
 
.service-logo
{
   width: 5%;
 }

.opreations-programming img

{
   width: 22%;
}
.programs-features .service-heading
{
    font-size: 20px;
 
 }

.opreations-programming p 
{
   font-size: 12px;
}

.opreations-programming h5

{
   font-size: 15px;
}

.qr-p
{
   font-size: 16px; 
   line-height: 17px;
}

.vip-p 
{
   line-height: 20px;
}
      
 
}



@media screen and (max-width:890px) and (min-width:768px)
{
/************** start carousel **************/
 
 
.side-data h1
{
  margin-top: 13px;
   font-size: 25px;
 }

  .side-data h2
  {
     font-size: 20px;
     }

    .side-data p 
    {
      font-size: 12px;

    }

    .free-consultation 
    {
     margin-top: 12px;
     padding: 5px 13px;
      font-size: 12px;
     
    }


    .Complete-Work

    {
     margin-top: 12px;
     padding: 5px 13px;
      font-size: 12px;
    }

    #control-carousel
    {
      height: 15px;
     width: 15px;
      margin-left: 11px;

    }

    
}

/***      768px-------------->      ***/

@media screen and (max-width:768px) 

{
   .tape
   {
      background-color: red;
      display: none;
   }
   
   
  /************* navbar ************/
 
  #navbar
  {
     padding: 20px 10px;
      
     
   }
 

#nav-link 
{
    color: #fff;
    padding:  5px;
    font-size: 18px;
margin: 0px 4px;
font-weight: 590;
text-align:center;
}

 

#nav-link:hover
{
    background-color: #629cd3;
    border-radius: 15px;
}


.navbar-nav 
{
     margin-left: 25%;
     margin-top: 15px;
}

.single-option
{
   display: none;
}
#dropdown-menu
{
   background-color: transparent;
    text-align: center;
    border: none;
}

#dropdown-item
{
   color: #fff;
}
 .dropdown
 {
    display:block;
 }

 
 /************** start carousel **************/

 .carousel-item
 {
   padding: 0;
   text-align: center;
   
 }
 .carousel-item img 
 {
   width: 25%;
   margin: auto;
  }

 
.side-data h1
{
  margin-top: 13px;
   font-size: 25px;
 }

  .side-data h2
  {
     font-size: 20px;
     }

    .side-data p 
    {
      font-size: 12px;

    }

    .free-consultation 
    {
     margin-top: .2px;
     padding: 5px 13px;
      font-size: 12px;
      margin-bottom: 20px;
     
    }


    .Complete-Work

    {
     margin-top: 12px;
     padding: 5px 13px;
      font-size: 12px;
    }

    #carousel-indicators
    {
      display: none;
    }

    #icon-carousel-icon
    {
      background-color: #373838;
   width: 40px;
   height: 40px;
   border-radius: 50%;
    }

    /****** counter *****/

    .img-counter 
{
   width: 15%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 12px;
}
}

 